@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  -webkit-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
}

a:hover,
a:focus {
  color: #e22521;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin-left: 20px;
  padding: 0 0 0 5px;
}

li {
  position: relative;
}

ul li::before {
  content: "";
  width: 10px;
  height: 2px;
  background: #000;
  position: absolute;
  left: -20px;
  top: calc(50% - 2px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slick-dots li::before {
  content: none;
}

p {
  margin: 15px 0;
}

.wrapper {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.slick-prev {
  left: -45px;
}

.slick-next {
  right: -45px;
}

.slick-prev,
.slick-next {
  width: 32px;
  height: 32px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 32px;
  color: #000;
}

@media (max-width: 1023px) {
  .wrapper {
    padding: 0 15px;
  }
}

.header {
  padding: 15px 0;
  -webkit-box-shadow: 0 0 50px #000;
          box-shadow: 0 0 50px #000;
  position: relative;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 0 50px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-image {
  max-width: 115px;
  padding: 0 15px 0 0;
}

.header__logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 24px;
  line-height: 1;
  position: relative;
  padding: 0 10px 0 0;
  font-weight: 600;
  color: #960502;
}

.header__logo-text ::before {
  content: "";
  width: 1px;
  height: calc(100% + 20px);
  background: #000;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__logo-secondtext {
  padding: 0 0 0 10px;
}

.header__nav {
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__link {
  padding: 0 10px;
}

.header__hamburger {
  display: none;
  right: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 1365px) {
  .header__logo-text ::before {
    content: none;
  }
  .header__logo-secondtext {
    display: none;
  }
}

@media (max-width: 1023px) {
  .header__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__logo-text ::before {
    content: "";
  }
  .header__nav {
    display: none;
  }
  .header__contacts {
    padding: 0 0 0 10px;
  }
  .header__hamburger {
    display: block;
  }
}

@media (max-width: 767px) {
  .header__content {
    padding: 0 15px;
  }
  .header__logo-text {
    display: none;
  }
}

.hamburger__icon {
  width: 30px;
  height: 3px;
  background: #000;
  position: relative;
  display: block;
  cursor: pointer;
}

.hamburger__icon::before, .hamburger__icon::after {
  content: "";
  width: 30px;
  height: 3px;
  background: #000;
  position: absolute;
}

.hamburger__icon::before {
  bottom: 6px;
}

.hamburger__icon::after {
  top: 6px;
}

.hamburger__menu {
  display: none;
}

.banner {
  position: relative;
}

.banner__content {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 50px;
  color: #fff;
  max-width: 1024px;
  z-index: 1;
  text-shadow: 1px 1px 15px #000;
}

.banner__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.3;
}

.banner__text {
  font-size: 18px;
}

.banner__text li::before {
  background: #fff;
}

.banner::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.55);
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0.55)), color-stop(15%, rgba(0, 0, 0, 0.55)), color-stop(50%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.55) 0, rgba(0, 0, 0, 0.55) 15%, rgba(0, 0, 0, 0) 50%);
  z-index: 0;
}

@media (max-width: 1023px) {
  .banner__content {
    position: static;
    -webkit-transform: none;
            transform: none;
    color: #000;
    text-shadow: none;
    padding: 15px;
  }
  .banner__text li::before {
    background: #000;
  }
  .banner::after {
    content: none;
  }
}

@media (max-width: 767px) {
  .banner__title {
    font-size: 36px;
  }
  .banner__text {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .banner__title {
    font-size: 24px;
  }
  .banner__text {
    font-size: 16px;
  }
}

.button {
  background: #e22521;
  color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
}

.button:hover,
.button:focus {
  color: #fff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.about {
  padding: 100px 0;
  background: #f9f9f9;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -30px;
}

.about__images, .about__text {
  width: 50%;
  margin: 0 30px;
}

.about__images {
  margin: 30px;
}

.about__images img {
  border-radius: 50px;
  border: 5px solid #e22521;
  max-width: 450px;
}

.about__text-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}

.about__text b {
  color: #e22521;
}

@media (max-width: 1023px) {
  .about {
    padding: 50px 0;
    overflow-x: hidden;
  }
  .about__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__images, .about__text {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.check {
  background: #f9f9f9;
  text-align: center;
  padding: 100px 0;
}

.check__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 -15px;
}

.check__item {
  width: calc(33.33333% - 30px);
  margin: 0 15px;
  text-align: left;
}

.check__item-number {
  font-size: 72px;
  font-weight: 300;
}

@media (max-width: 1023px) {
  .check__title {
    font-size: 30px;
  }
  .check__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .check__item {
    width: calc(100% - 30px);
    text-align: center;
    margin-bottom: 15px;
  }
  .check__item-number {
    font-size: 72px;
    font-weight: 300;
  }
}

.services {
  text-align: center;
  padding: 100px 0;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 50px -15px;
}

.services__table table {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto 50px;
  border-collapse: collapse;
}

.services__table table tr:first-child td {
  text-align: center;
  border: none;
  font-size: 30px;
  padding-bottom: 15px;
}

.services__table table td {
  border: 2.5px solid #e22521;
  padding: 5px 10px;
}

.services__table table td:last-child {
  text-align: right;
  font-weight: 600;
}

.services__table table td:first-child {
  text-align: left;
}

.services__item {
  width: calc(33.33333% - 30px);
  margin: 0 15px;
  text-align: left;
  border: 4px solid #e22521;
  border-radius: 30px;
  padding: 25px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item-title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.services__item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.services__item-price-old {
  margin-right: 25px;
  position: relative;
}

.services__item-price-old::before {
  content: "";
  width: calc(100% + 10px);
  height: 2px;
  background: #000;
  position: absolute;
  top: calc(50% + 2px);
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.services__item-price-new {
  font-size: 26px;
  color: #e22521;
}

.services__item-button {
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .services__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services__item {
    width: calc(50% - 30px);
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .services {
    padding: 50px 0;
  }
  .services__item {
    width: calc(100% - 30px);
  }
  .services__table table tr:first-child td {
    font-size: 22px;
  }
  .services__table table td {
    font-size: 12px;
  }
}

.reviews {
  background: #f9f9f9;
  padding: 100px 0;
}

.reviews__slider {
  padding: 50px;
  margin: 0 -15px;
}

.reviews__slider .slick-prev {
  left: 10px;
}

.reviews__slider .slick-next {
  right: 10px;
}

.reviews__slider-item {
  padding: 0 15px;
}

@media (max-width: 767px) {
  .reviews {
    padding: 50px 0;
  }
  .reviews__slider {
    padding: 50px 0;
  }
  .reviews__slider .slick-prev {
    left: 10px;
  }
  .reviews__slider .slick-next {
    right: 10px;
  }
}

.advantages {
  padding: 100px 0;
  overflow-x: hidden;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 100px -20px 0;
}

.advantages__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(33.3333% - 40px);
  margin: 0 20px 100px;
  text-align: center;
}

.advantages__item-image {
  max-height: 100px;
}

.advantages__item-title {
  font-size: 22px;
  font-weight: 600;
  margin: 20px auto 30px;
}

@media (max-width: 1280px) {
  .advantages__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages__item {
    width: calc(50% - 40px);
  }
}

@media (max-width: 767px) {
  .advantages {
    padding: 50px 0;
  }
  .advantages__item {
    width: calc(100% - 40px);
  }
  .advantages .advantages__item:last-child {
    margin-bottom: 0;
  }
}

.contacts {
  padding: 100px 0;
  background: #f9f9f9;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.contacts__data {
  width: calc(50% - 30px);
  margin: 0 15px;
}

.contacts__data-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
  font-weight: 600;
}

.contacts__data-item img {
  width: 45px;
  margin: 0 15px 0 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.contacts__data-item img:hover,
.contacts__data-item img:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contacts__data-item_call {
  font-size: 28px;
  font-weight: 600;
}

.contacts__data-item_call a {
  color: #e22521;
}

.contacts__data-item_social p {
  margin-right: 15px;
}

.contacts__data-item_social .small img {
  width: auto;
  height: 32px;
}

.contacts__form {
  width: calc(50% - 30px);
  margin: 0 15px;
}

@media (max-width: 1023px) {
  .contacts__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contacts__data, .contacts__form {
    width: calc(100% - 30px);
  }
}

@media (max-width: 1023px) {
  .contacts {
    padding: 50px 0;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__name {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
}

.form__input {
  border: none;
  border-bottom: 3px solid #e22521;
  padding: 10px;
  background: transparent;
  margin-bottom: 10px;
}

.form__textarea {
  border: 3px solid #e22521;
  padding: 10px;
  margin: 10px 0 25px;
  background: transparent;
}

.form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form__submit span {
  font-size: 12px;
  margin-left: 15px;
}

.form__button {
  white-space: nowrap;
}

.footer {
  padding: 15px 0;
  font-weight: 600;
}

.footer__content {
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__social img {
  width: 45px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.footer__social img:hover,
.footer__social img:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__social .small img {
  width: auto;
  height: 32px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .footer__content {
    padding: 0 15px;
  }
  .footer__social {
    right: 15px;
    left: inherit;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .footer__info {
    display: none;
  }
}
